* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  max-width: 100vw;
  font-family: open sans
}

button {
  font-family: open sans;
}

.container {
  /* display: grid;
  grid-template-rows: 2fr 3fr 1fr; */
  max-width: 100vw;
}

.header,
.heading {
  background-color: hsl(193, 100%, 96%);
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; */
  display: flex;
  font-family: poppins;
  border: solid 1px red;
}

.btn-started {
  width: 300px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
}

.mockups-img {
  max-inline-size: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 1rem 4rem;
  gap: 1.5rem;
  border: solid 1px red;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  border: solid 1px red;
}

.grow {
  margin-top: 6rem;
}

.ready-card {
  border: solid 1px orange;
  width: fit-content;
  place-self: center;
  z-index: 1;
  transform: translateY(5.5rem);
  padding: 4rem 6rem 2.5rem 6rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ready-card > button {
  place-self: center;
}

.card-img {
  max-inline-size: 25%;
}

/* .btn-try {
  justify-self: end;
} */

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding: 8rem 4rem 2rem 4rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  font-size: 0.75rem;
  line-height: 1.3rem;
  /* grid-template-rows: repeat(6, 0.5fr); */
  /* column-gap: 4rem; */
}

.contact-info {
  display: grid;
  grid-row: 1 / 6; 
  padding-right: 5rem;
  row-gap: 1.1rem;
}

.contact {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 1fr;
}

.contact-img {
  height:fit-content;
}

.contact-text {
  text-align: start;
  margin-left: 0.5rem;
}

.location-span {
  transform: translateY(-7px);
}

.email-span {
  transform: translateY(-3px);
}

.copyright {
  grid-column: 3;
  grid-row: 7;
}

.links {
  display: grid;
  grid-row: 1 / 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.7rem;
}

.footer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .socials {
  grid-column: 3;
} */

.social-link {
  width: 10px;
}

.huddle-logo-footer {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(2%) 
    saturate(7490%) 
    hue-rotate(179deg) 
    brightness(109%) 
    contrast(103%);
  max-inline-size: 15%;
  margin-bottom: 2rem;
}

.socials {
  /* width: fit-content; */
  /* display: inline-block; */
  display: flex;
  gap: 1rem;
}

.social-link {
  width: 40px;
}

.social-link:hover {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(54%) 
    sepia(29%) 
    saturate(5897%) 
    hue-rotate(294deg) 
    brightness(101%) 
    contrast(100%);
    cursor: pointer;
}

@media (max-width: 500px) {
  .heading {
    flex-direction: column;
  }
  .card-img {
    max-inline-size: 50%;
  }
}