/* TODO:
    - reorganize footer links
    + shadow boxes
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

html {
  font-size: 18px;
  font-family: open sans;
  color: hsl(192, 100%, 9%);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  font-family: open sans;
  font-weight: 700;
}

.container {
  /* display: grid;
  grid-template-rows: 2fr 3fr 1fr; */
  max-width: 100vw;
  /* padding-right: 8rem; */
}

.header {
  display: flex;
  justify-content: space-between;
}

.huddle-logo {
  /* max-inline-size: 20%; */
  width: 170px;
  height: 25px;
}

.btn-try {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  border: 0;
  font-family: poppins;
  background-color: white;
  box-shadow: 0 1px 10px 1px hsl(0, 0%, 0%, 5%);
}

.btn-try:hover {
  cursor: pointer;
  color: hsl(208, 11%, 55%);
}

.heading-container {
  padding: 3rem 4rem 4rem 4rem;
  background-color: hsl(193, 100%, 96%);
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  display: flex;
  flex-direction: row;
  font-family: poppins;
  padding-top: 3rem;
}

.heading-desc {
  padding: 5.1rem 0 0 0;
}

.heading-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.heading-p {
  font-size: 0.9rem;
  padding: 0 9rem 2rem 0;
}

.btn-started {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0 5px 10px hsl(0, 0%, 0%, 15%);
  color: white;
}

.btn-started:hover {
  cursor: pointer;
  background-color: hsl(322, 100%, 76%);
}

.first {
  width: 270px;
}

.mockups-img {
  /* max-inline-size: 135%;
  transform: translateX(-150px); */
  max-inline-size: 119%;
  transform: translateX(-85px);
  /* no overflow: */
  /* max-inline-size: 100%; */
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 1rem 4rem;
  gap: 1.5rem;
  /* border: solid 1px red; */
}

.card {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: white;
  border-radius: 10px;
  /* border: solid 1px red; */
  padding: 3rem 1rem 2rem 4rem;
  /* gap: 14rem; */
  min-height: 300px;
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 5%);
}

.card-title {
  font-size: 1.5rem;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

.card-p {
  color: hsl(208, 11%, 55%);
  font-size: 0.98rem;
  padding-right: 10rem;
  /* width: 400px; */
}

.card-img {
  /* max-inline-size: 30%; */
  width: 800px;
  height: 300px;
  /* place-self: end; */
}

.grow {
  margin-top: 6rem;
}

.flowing {
  flex-direction: row-reverse;
  gap: 10rem;
}

.flowing > .card-text {
  justify-self: end;
}

.flowing-p {
  padding: 0;
}

.ready-card {
  min-height: 0;         /* min-height all things! */
  place-self: center;
  /* z-index: 1; */
  transform: translateY(5.5rem);
  /* padding: 4rem 6rem 2.5rem 6rem;  */
  padding: 4rem 6rem 2.5rem 6rem; 
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.second {
  width: 340px;
  height: 60px;
  font-size: 0.9rem;
}

.ready-card > button {
  place-self: center;
}

/* .btn-try {
  justify-self: end;
} */

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding: 8rem 4rem 2rem 4rem;
  font-size: 0.75rem;
}

.footer-container {
  /* width: auto; */
  display: grid;
  /* grid-template-columns: 0.43fr 0.3fr; */
  grid-template-columns: 2fr 2fr;

  /* font-size: 0.75rem; */
  line-height: 1.3rem;
  /* grid-template-rows: repeat(6, 0.5fr); */
  /* column-gap: 4rem; */
}

.contact-info {
  display: grid;
  grid-row: 1 / 6; 
  padding-right: 5rem;
  row-gap: 1.1rem;
}

.contact {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
}

.contact-img {
  height:fit-content;
}

.contact-text {
  text-align: start;
  /* margin-left: 0.5rem; */
}

.location-span {
  transform: translateY(-7px);
}

.email-span {
  transform: translateY(-3px);
}

.copyright {
  grid-column: 3;
  grid-row: 6;
}

.links {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.7rem; */
  display: flex;
  column-gap: 7rem; 
}

.links-1,
.links-2 {
  display: grid;
  row-gap: 0.7rem;
}


.footer-link {
  width: fit-content;
}

.footer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .socials {
  grid-column: 3;
} */

.social-link {
  width: 10px;
}

.huddle-logo-footer {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(2%) 
    saturate(7490%) 
    hue-rotate(179deg) 
    brightness(109%) 
    contrast(103%);
  max-inline-size: 15%;
  margin-bottom: 2rem;
}

/* .socials {
  grid-column: 3;
  grid-row: 1;
} */

.socials {
  /* width: fit-content; */
  /* display: inline-block; */
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  grid-column: 3;
  grid-row: 1;
  /* column-gap: 1rem; */
  /* display: flex;
  gap: 1rem; */
}

.social-link {
  width: 40px;
}

.social-link:hover {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(54%) 
    sepia(29%) 
    saturate(5897%) 
    hue-rotate(294deg) 
    brightness(101%) 
    contrast(100%);
    cursor: pointer;
}

@media (max-width: 500px) {
  .heading {
    flex-direction: column;
    text-align: center;
    background-image:  url(./images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1rem 0 1rem;
  }
  .huddle-logo {
    width: 125px;
    height: 20px;
  }
  .btn-try {
    width: 120px;
    height: 30px;
  }
  .heading-container {
    padding: 2rem 1rem 2rem 1rem;
  }
  .heading-h3 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .heading-p {
    font-size: 0.83rem;
    padding: 0 0 2rem 0;
  }
  .btn-started {
    width: 240px;
    height: 40px;
    font-size: 0.66rem;
    margin-bottom: 3rem;
  }
  .mockups-img {
    max-inline-size: 100%;
    transform: translateX(3px);
  }
  .cards {
    padding: 0 1rem 1rem 1rem;
  }
  .card:not(.ready-card) {
    flex-direction: column-reverse;
    /* min-height: 0; */
    padding: 4rem 2rem 2rem 2.5rem;
    text-align: center;
  }
  .card-img {
    max-inline-size: 100%;
    place-self: center;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-p {
    padding: 0;
    /* font-size: 0.95rem; */
    font-size:  0.9rem;
  }
  .flowing {
    gap: 0;
  }
  .ready-card {
    display: flex;
    /* max-width: 100vw; */
    font-size: 0.7rem;
    /* padding: 4rem 2rem 2.5rem 2rem;  */
    padding: 3rem 2rem 2rem 2rem;
  }
  .second {
    width: 200px;
    height: 40px;
    margin-bottom: 0;
    transform: translateY(-10px);
  }
 .huddle-logo-footer {
    max-inline-size: 62%;
  }

  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    row-gap: 3rem;
  }
  .contact-info {
    grid-column: 1;
    grid-row: 1 / 3;
    padding-right: 0;
  }
  .contact {
    column-gap: 1rem;
  }
  .links {
    /* grid-row: 3;
    grid-column: 1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr); */
    flex-direction: column;
    row-gap: 0.7rem;
  }
  .socials {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    column-gap: 1rem;
  }
  .copyright {
    grid-column: 1;
    grid-row: 5;
    transform: translateY(-25px);
    text-align: center;
    /* place-self: center; */
  }
  /* .socials {
    place-self: center;
  } */
}